<div class="flex flex-col items-center justify-center h-screen bg-white">
  <div class="text-center">
    <h1 class="text-4xl mt-20 text-slate-600 font-bold mb-8">Welcome to <%= @app_name %></h1>

    <div class="flex flex-col items-center justify-end flex-grow">
      <a href="<%= new_user_session_path %>" class="w-[80%] bg-blue-500 hover:bg-blue-600 text-white text-lg px-6 py-3 mb-4 mt-64 font-semibold transition-transform transform hover:scale-105">Log In</a>
      <a href="<%= new_user_registration_path %>" class="w-[80%] bg-white hover:bg-gray-200 text-slate-500 text-lg px-6 py-3 font-semibold transition-transform transform hover:scale-105">Sign Up</a>
    </div>
  </div>
</div>
